.postField{
    display: flex;
    flex-direction: column;
}
.postTitle{
    width: 100%;
    line-height: 2;
    font-size: 20px;
    margin: 10px auto;
}
.postContent{
    width: 100%;
    line-height: 1.5;
    font-size: 16px;
    margin: 10px auto;
    height: 500px;
    line-clamp: 5000;
    overflow: scroll;
    
}
.SubmitButton {
  width: 30%;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  background-color: #4caf50;
}
