/*######## Default #######*/
*{
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}
.container {
  max-width: 750px;
  width: 100%;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
}
.body{
  display: flex;
}
.leftBody{
  flex: 1;
  order: 1;
  overflow: hidden;
  background-color: whitesmoke;
  padding: 5px;
}
.rightBody{
  flex: 1;
  order: 3;
  overflow: hidden;
  background-color: whitesmoke;
  padding: 5px;
}
.mainBody{
  flex: 2;
  order: 2;
  overflow: hidden;
  padding: 5px;
}
img{
  width: 100%;
  height: auto;
}
.btn {
  width: fit-content;
  font-size: 16px;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: #4caf50;
  transition: 0.1 ease-in-out;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

/*######## nav bar #######*/
.navBarPlaceHolder{
  width: 100%;
  height: 57px;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 60px;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #555353;
  color: white;
  transition: 0.2s;
}
.navBar.scrollDownDisappear{
  transform: translateY(-80px);
}
.logo {
  text-decoration: none;
  color: inherit;
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}
.right-navBav {
  display: flex;
  max-width: 600px;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}
.right-navBav li {
  flex: 1;
  margin: auto;
  min-width: fit-content;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
  transition: 0.2s ease-in-out;
  border-radius: 2px;
}
.right-navBav li:hover {
  background-color: slategray;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
}
.right-navBav li a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: bolder;
  white-space: nowrap;
}
.dropDown {
  display: none;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  text-align: center;
}
/*######## content section #######*/

.postEntry{
  padding: 0;
}
.entryThumbmail{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.entryContent{
 width: 90%;
 margin: auto;
 position: relative;
 bottom: 100px;
 background-color: white;
 font-family: 'Times New Roman', Times, serif;
 overflow: hidden;
}
.entryHeader{
  font-size: 33px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  line-height: 1.5;
  padding: 30px 0;
  margin: 0;
  padding: 0;
  line-height: 2;
}
.entryHeader a{
  text-decoration: none;
  color: black;
}
.entryHeader a:hover{
  color: #4caf50;
}
.entryExcerpt{
  font-size: 1.5rem;
  font-family: inherit;
  padding: 0 10px;
}
.readMoreLink{
  float: right;
  font-size: 14px;
  color: lightslategrey;
  font-style: italic;
  margin-right: 20px;
}
.pagination {
  margin: auto;
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 200px;
  width: 100%;
  justify-content: space-between;
}
.page-item {
  width: 30px;
  border: 1px solid #dee2e6;
  display: flex;
  justify-content: space-around;
}
.page-link {
  padding: 5px;
  text-decoration: none;
  color: #007bff;
}
/*######## footer #######*/
.footer {
  background-color: #282828;
}
/*######## login portal #######*/
.loginPortal-container {
  z-index: 1;
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.loginPortal {
  max-width: 300px;
  width: 100%;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 10%;
  padding: 30px;
  position: relative;
}
.close {
  position: absolute;
  right: 10px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  background-color: whitesmoke;
  border: none;
  height: fit-content;
  line-height: 1;
  width: fit-content;
  padding: 0;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.loginPortal label {
  font-size: 20px;
  font-weight: 600;
}
.loginPortal input {
  width: 100%;
  line-height: 2;
  font-size: 20px;
  margin: 10px auto;
}
.loginButton {
  width: 100%;
  font-size: 20px;
  color: white;
  padding: 10px 0;
}
.show {
  display: block;
}
/* Animation */

.animateZoom {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*######## Mobile #######*/
@media (max-width: 800px) {
  .navBar {
    justify-content: space-around;
    flex-direction: column;
    padding: 0px 60px;
  }
  .navBarPlaceHolder{
    height: 68px;
  }
  .right-navBav {
    flex-direction: column;
    display: none;
    margin: auto;
  }
  .dropDown {
    display: block;
  }
  .right-navBav.drop {
    display: flex;
  }
  .body{
    flex-direction: column;
  }
  .mainBody{
    order: 1;
  }
}
